.A{
	background-color: rgb(192, 154, 106);
	padding: 20px;
	width: 400px;
}
.B{
	background-color: rgb(51, 71, 204);
	padding: 20px;
	width: 300px;
}
.C{
	background-color: rgb(9, 130, 75);
	width: 200px;
	padding: 20px;
}